<!-- <div [ngSwitch]="value">
    <div *ngSwitchCase="1">1</div>
    <div *ngSwitchCase="2">2</div>
    <div *ngSwitchCase="default">1</div>
</div> -->
 
<!-- <ul>
    <li *ngFor="let item of [1,2,3]; 
    let index = index
    let first = first
    let last = first
    let even = first
    let odd = odd"
    >{{index}}-{{item} - {{first}}} - {{}}</li>
</ul> -->

<!-- [ngClass]="{par: even, impar: !even}" -->

<!-- <ul>
    <li *ngFor="let item of [1,2,3]; let even = even;"
    [class.par]="even"
    [class.impar]="!even">
        {{item}}
    </li>
</ul> -->

<!-- <ul>
    <li *ngFor="let item of [1,2,3]; let even = even;"
    [ngStyle] = "{'margin-top.px': 10}"
    [style.marginLeft.px]="20"
    >
    {{item}}
    </li>
</ul> -->

<res-plate-form></res-plate-form>

<res-plate shadow size="10px" [color]="even ? 'blue' : 'red'" *ngFor="let item of items | sort:sortField:'DESC'; let even = even;" [plate]="item" 
            (delete)="onDeletePlate($event)"
            (edit)="onEditPlate($event)"
            (shadowMouseLeave)="onShadowMouseLeave()"
></res-plate>
<br>

<button (click)="sortField = 'name'">Name</button><br>
<button (click)="sortField='numIngredients'">Ingredients</button><br>


<button (click)="onClick()">Change ingredients</button>
 
